body {
    font-family: arial;
        background-color: #e4e4e4;
}


.logo-container {
    margin: 0 auto;
    max-width: 1300px;
padding: 60px 30px 40px 30px;
}

.logo {
    max-width: 400px;
}

.container {
    margin: 0 auto;
    font-family: arial;
    max-width: 1200px;
    background-color: white;
    padding: 20px 50px 90px 50px;
    box-shadow: 0px 1px 20px 0px #d0d0d0;
}

.button {
    cursor: pointer;
    padding: 5px 10px;
    background: #dcdada;
    display: flex;
    border-radius: 3px;
}

    .button:hover {
        background: #c5c5c5;
    }

.form {
    display: flex;
    margin: 20px;
    margin-left: 5px;
    align-items: center;
}

select.form__select {
    margin-right: 10px;
        height: 30px;
}

/* Channel Style */
.channel__metric {display: inline-block;justify-content: space-between;width: auto !important;margin-right: 10px;padding-right: 10px;}


body > div.container > div.container-table > table > tbody > tr > td:nth-child(2) > input {width: 100%;margin-top:14px;}

input.channel__metric-input {
    width: 80px;
    height: 25px;
    border-radius: 4px;
    color: black;
    border: 1px solid #dbdbdb;
}


.channel__media-value {
    display: flex;
    font-weight: bold;
}

.channel__media-value-title {
        margin-right: 5px;
}


.channel__metric-label {
    font-size: 12px;
    font-style: italic;
    color: #383838;
}


.channel__actions {
    display: flex;
}

.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid;
}

    .table th {
        padding: 0 10px 10px;
        text-align: left;
        border-bottom: 1px solid #c9ced0;
    }

    .table tr {
        border-bottom: 1px solid #c9ced0;
    }

    .table tr:nth-child(even) {
        background-color: #f2f4f8;
    }

    .table tr:last-child {
        border-bottom: 0;
    }

    .table td {
        padding: 10px;
        color: #3d464b;
        font-size: 13px;
        white-space: normal;
    }

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;

}


.row .results__body {
    display: block;
    color: black;
}

.row .results__body .results__media-container {display: inline-block;width: auto;border: 2px solid #cecece;border-radius: 8px;padding: 10px 20px;width: 18%;}




.results__container {
    color: white;
    background-color: rgba(132, 132, 132, 0.07);
}

    .results__total-container {
        background-color: rgba(62, 108, 151, 1);
        align-items: center;
        padding: 20px 0px;
    }

        .results__total-title {
               font-size: 30px;
                margin: 20px;
                width: 30%;
        }

        .results__total-value {
                font-size: 45px;
                font-weight: bold;
                text-align: left;
                padding-right: 15px;
        }

    .results__media-container {
        justify-content: space-between;
        margin: 15px;
    }

        .results__media-title {
            font-size: 13px;
        }

        .results__media-value {
            font-size: 30px;
        }


.row.results__body > .results__media-container:nth-child(16) {
    display: block;
    padding: 20px 15px;
    background-color: #848484;
    width: 92%;
    color: white;
    font-size: 110%;
}

.row.results__body > .results__media-container:nth-child(16) .results__media-value {font-size: 40px;}

.row.results__body > .results__media-container:nth-child(16) .results__media-title {font-size: 15px;}

tr.channel__row > td:nth-child(3) {
    font-weight: bold;
    font-size: 16px;
}

tr.channel__row > td:nth-child(1) {
    font-size: 14px !important;
    font-weight: 600;
    padding: 20px 10px 10px 10px;
}


.add {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.remove {
    background-color: #860000;
    color: white;
    font-weight: bold;
}


.by-channel {
        font-size: 15px;
        margin-left: 15px;
        margin-bottom: 0px;
        color: rgba(13, 13, 13, 0.65);
}


.export-btn {
    background-color: #36843a;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    max-width: 400px;
    float: right;
    border: 0px;
    margin-right: 10px;
}

.top-part {display: inline-block !important;}
.top-part h2 {max-width: 500px;float:left;}

.campaign__loader-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

input.campaign__loader-input {
    display: none;
}

.campaing__loader-btn{
    background-color: #36843a;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    border: 0px;
    margin-right: 10px;
    display: flex;
}

.export-campaign-name {
    width: 80px;
    height: 25px;
    border-radius: 4px;
    color: black;
    border: 1px solid #dbdbdb;
    min-width: 150px;
    float: right;
    margin: 0 10px 0 0;
}

/*

.row.results__body > .results__media-container:nth-child(2)::before {
    content:'';
    position: absolute;
    background-image: url(./icons/facebook.png);
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-left: -30px;
    background-size: contain;
    display: block;
}
*/

