body {
    font-family: arial;
    background-color: #fff;
}

.container-table {
    display: none !important;
}

.results__return-on-investment-result-row {color: white;}
.results__return-on-investment-result-row > div {color: white;}


.logo-container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 60px 30px 5px 30px;
}

.logo {
    display: none;
}

.printlogo {
    max-width: 400px;
}

.container {
    margin: 0 auto;
    font-family: arial;
    max-width: 1200px;
    background-color: white;
    padding: 10px 50px 90px 50px;
}

.button {
    cursor: pointer;
    padding: 5px 10px;
    background: #dcdada;
    display: flex;
    border-radius: 3px;
}

    .button:hover {
        background: #c5c5c5;
    }

.form {
    display: flex;
    margin: 20px;
    margin-left: 5px;
    align-items: center;
}

select.form__select {
    margin-right: 10px;
        height: 30px;
}

/* Channel Style */
.channel__metric {display: inherit;justify-content: space-between;width: 30px !important;margin-right: 10px;padding-right: 5px;}

input.channel__metric-input {
    width: 60px;
    height: 25px;
    border-radius: 4px;
    color: black;
    border: 1px solid #dbdbdb;
}


.channel__media-value {
    display: flex;
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.channel__media-value-title {
   margin-right: 5px;
}

.channel__actions {
    display: flex;
}

.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid;
}

    .table th {
        padding: 0 10px 10px;
        text-align: left;
        border-bottom: 1px solid #c9ced0;
        font-size: 14px;
    }

    .table tr {
        border-bottom: 1px solid #c9ced0;
    }

    .table tr:nth-child(even) {
        background-color: #ffffff;
    }

    .table tr:last-child {
        border-bottom: 0;
    }

    .table td {
        padding: 10px;
        color: #3d464b;
        font-size: 12px;
        white-space: normal;
    }

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;

}


.row .results__body {
    display: block;
    color: black;
}

.row .results__body .results__media-container {display: inline-block;width: auto;border: 2px solid #cecece;border-radius: 8px;padding: 10px 20px;min-width: 100px;}




.results__container {
    color: white;
    background-color: tra;
}

    .results__total-container {
            background-color: rgba(62, 108, 151, 1);
        align-items: center;
        padding: 20px 0px;
    }

        .results__total-title {
               font-size: 25px;
               margin: 0px 20px;
               width: 40%;
        }

        .results__total-value {
                font-size: 35px;
                font-weight: bold;
                text-align: left;
                padding-right: 15px;
        }

    .results__media-container {
        justify-content: inherit;
        margin: 5px;
    }

        .results__media-title {
            font-size: 13px;
        }

        .results__media-value {
            font-size: 20px;
        }


.row.results__body > .results__media-container:nth-child(16), .row.results__body > .results__media-container:nth-child(17) {
    display: inline-block;
    padding: 15px;
    background-color: #a5a5a5;
    color: white !important;
    width: 40%;
    color: black;
    font-size: 120%;
}


.row.results__body > .results__media-container:nth-child(16) .results__media-value, .row.results__body > .results__media-container:nth-child(17) .results__media-value {font-size: 30px;}

.row.results__body > .results__media-container:nth-child(16) .results__media-title, .row.results__body > .results__media-container:nth-child(17) .results__media-title {font-size: 15px;}



tr.channel__row > td:nth-child(3) {
    font-weight: bold;
    font-size: 16px;
}

tr.channel__row > td:nth-child(1) {
    font-style: 16px;
}


.add {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.remove {
    background-color: #860000;
    color: white;
    font-weight: bold;
}


.by-channel {
        font-size: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.65);
}


.channel__metric-label {
    font-size: 8px;
    font-style: italic;
    font-weight: 300;
    color: #383838;
}

/*
div.container-table > table > thead > tr > th:nth-child(4){
    display: none !Important;
}

tr.channel__row > td:nth-child(4) {
    display: none !Important;
}
*/

h3, .form, .header, .export-btn, .top-part, .campaign__loader-content, tr.channel__row> td:nth-child(5), table > thead > tr > th:nth-child(5) {display: none !important;}

.container-table {padding-right: 30px;padding-bottom: 15px;}


input.channel__metric-input {border: 0px !important;}


body > div.container > div.container-table > table > tbody > tr > td:nth-child(2) > input {min-width: 120px;}


#canvas_horizontal, #canvas_bar {
    width: 900px  !important;
    height: 450px !important;
    margin: 0 auto;
    padding-top: 20px;
}


.results__return-on-investment-result-row {
    display: block;
    color: #343434;
}

.results__return-on-investment-container {
            background-color: transparent;
            align-items: center;
            padding: 20px;
        }

        .results__return-on-investment-container br {display: none;}

        .results__return-on-investment-title {
               font-size: 16px;
               margin: 0px 0px 10px 0px;
        }

        .results__return-on-investment-value {
                font-weight: normal;
                text-align: left;
                font-size: 20px;
                float: left;
        }
        .results__return-on-investment-result-value {
                font-size: 35px;
                font-weight: bold;
                text-align: left;
                padding-right: 15px;
        }
        .results__return-on-investment-input {
                font-size: 18px;
                text-align: left;
                margin-right: 20px;
                border-radius: 0px;
                padding: 10px 10px;
                border: 2px solid #838383;
                background-color: #f6f6f6;
                width: 100%;
                max-width: 300px;
                color: #E91E63;
                display: none;
        }


        .results__return-on-investment-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #3f6c96;
          opacity: 1; /* Firefox */
        }

        .results__return-on-investment-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #3f6c96;
        }

        .results__return-on-investment-input::-ms-input-placeholder { /* Microsoft Edge */
          color: #3f6c96;
        }

